.ALLpageCatalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Dropdowns {
  margin-bottom: 20px;
}

.character-display {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  position: relative;
}

.card {
  display: flex;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.card-right {
  flex-grow: 1;
}

.imageStarWars {
  width: 200px;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px 30px 0px 90px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.card h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.card p {
  margin: 5px 0;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 200px;
}

.btn-dislike {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.btn-dislike:hover {
  color: #ff0000;
}

.card.disliked {
  transform: translateX(-1000px) rotate(-30deg);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.card.liked {
  transform: translateX(1000px) rotate(30deg);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}
