.ALLpageCatalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../assets/images/background.png);
  background-size: cover;
  height: 150vh;
}

.Dropdowns {
  margin-bottom: 20px;
}

.character-display {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  position: relative;
}

.card {
  background-color: #047aa26b;
  padding: 20px;
  border-radius: 50px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  margin-top: 2rem;
  box-shadow: 10px 10px 2px rgb(0 0 0 / 25%);
  border: 2px solid #238cb0;
}

.card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-right {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  color: #feda4a;
}

.card h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  color: #feda4a;
}

.card p {
  margin: 5px 0;
  font-size: 20px;
}

.like-dislike-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  flex-direction: row-reverse;
}

.dislike-button {
  background: #047aa26b;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.like-button {
  background: #047aa26b;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.card.disliked {
  transform: translateX(-1000px) rotate(-30deg);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.card.liked {
  transform: translateX(1000px) rotate(30deg);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}
